
@{
	ViewBag.Title = "Contact";
}


@* Content *@
	<div class="d-flex justify-content-center align-items-center bg-success bg-opacity-25 vh-100 text-white">
		<p>This Is Contact Page </p>
	</div>
@* End Content *@

