
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<form action="/Account/Login" class=" vh-100  d-flex justify-content-center align-items-center " method="post">
    <div class="container px-5 d-flex justify-content-center w-75 rounded shadow p-4 align-items-center bg-info flex-wrap">
        <div class="d-flex justify-content-between flex-wrap w-100 my-4">
            <lable for="username" class="text-nowra w-100">User Name:</lable>
            <input type="text" name="name" id="userame" value="" class="form-control" />
        </div>                                     
        <div class="d-flex justify-content-between flex-wrap w-100 my-4">
           <lable for="password" class="w-100">Password:</lable>
            <input type="password" name="password" id="password" value="" class=" form-control" />
        </div> 
        <div class="d-flex justify-content-between flex-wrap w-100 my-4">
           <lable for="email" class="w-100">E-mail:</lable>
            <input type="email" name="email" id="email" value="" class=" form-control" />
        </div>    
        <div class="d-flex justify-content-between flex-wrap w-100 my-4">
           <lable for="phone" class="w-100">Phone Number:</lable>
            <input type="text" name="phone" id="phone" value="" class=" form-control" />
        </div>  
        <button type="submit" class="btn btn-secondary w-25 my-5">Sign UP</button>
    </div>

</form>

